.jumbotron{
    background-image: url("https://www.nationalgeographic.com/content/dam/travel/2019-digital/yosemite-guide/yosemite-national-park-california.ngsversion.1552510235776.adapt.1900.1.jpg");
    position: relative;
    height: 100vh;
}
#q{
    position: absolute;
    left: 590px;
    top: 350px;
}
#answers{
    position: absolute;
  }

.timer{
    position: absolute;
    left: 710px;
    top:40%;
}
#q2{
    top: 400px;
    left: 610px;
}
#q3{
    top: 450px;
    left: 610px;
}
#q4{
    top: 480px;
}
.display-4{
    margin-left: 550px;
}
.lead{
    margin-left: 545px;
}
.btn{
    margin-left: 563px;
}
.endGame{
    color:white;
    font-size: 24px;
}

