.jumbotron{
    background-image: url("https://www.nationalgeographic.com/content/dam/travel/2019-digital/yosemite-guide/yosemite-national-park-california.ngsversion.1552510235776.adapt.1900.1.jpg");
    position: relative;
    height: 100vh;
    margin-bottom: 0px !important;
}
.center{
    margin-left: 650px;
}

#answers{
    
    position: relative;
    margin: 0 auto;
    /* left: 400px; */
    display: inline-block;
    text-align:center;
  }
#questionsAsked{
    color:white;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:50px;
}
#answerImage{
    position: absolute;
    left: 0%;
    top:320px;
    width: 100px;
    height: 100px;
}
#incorrectAnswer{
    color:white;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:50px;
}
#answerFact{
    position: absolute;
    top: 0;
    color: white;
    width: 500px;
    height: 70px;
}
.timer{
    height:50px;
}
#q2{
    top: 400px;
    left: 610px;
}
#q3{
    top: 450px;
    left: 610px;
}
#q4{
    top: 480px;
}
#incorrectAnswer{
    height: 50px;
    margin-left: 0px;
    color:white;
   
}
.display-4{
    margin-left: 630px;
}
.lead{
    margin-left: 630px;
}
.start{
    margin-left: 650px;
}
.endGame{
    color:white;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#restartGameButton{
    color:black;
    border: 2px dotted yellow;
}
#footer{
    background-color: black;
    height: 21px;
    color:grey;
}

